.wrapper {
  --person-card-padding: 0.25rem;
  --person-card-border-radius: 0.5rem;
  --person-card-color: var(--bs-body-color);
  --person-card-bg: var(---bs-body-bg);
  --person-card-border-color: var(--bs-gray-500);

  display: grid;
  grid-template-areas:
        'avatar title       .'
        'avatar description description';
    grid-template-columns: 6rem auto 1fr;
    gap: 1rem;
    padding: 0.25rem;
    background-color: var(--bs-white);
    border: 1px solid var(--person-card-border-color);
    border-radius: 0.5rem;
    overflow: hidden;
}

.logo {
  grid-area: avatar;
  display: flex;
  text-decoration: none;
}

.avatar {
  width: 100%;
  border-radius: calc(var(--person-card-border-radius) - var(--person-card-padding));
}

.title {
  grid-area: title;
  display: flex;
  flex-flow: column;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}

.titlePlaceholder {
  width: 10rem;
  height: calc(1.25rem * 1.2);
}

.description {
  grid-area: description;
  display: flex;
  flex-flow: column;
}

.descriptionRowPlaceholder {
  width: 16rem;
  height: calc(var(--bs-body-font-size) * var(--bs-body-line-height));
  margin-bottom: 0.5rem;
}
